
.panel-block {
    align-items: center;
    color: #363636;
    display: flex;
    justify-content: flex-start;
    padding: .5em .75em
}

.panel-block input[type=checkbox] {
    margin-right: .75em
}

.panel-block > .control {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%
}

.panel-block.is-wrapped {
    flex-wrap: wrap
}

.panel-block.is-active {
    border-left-color: #3273dc;
    color: #363636
}

.panel-block.is-active .panel-icon {
    color: #3273dc
}

a.panel-block,
label.panel-block {
    cursor: pointer
}

a.panel-block:hover,
label.panel-block:hover {
    background-color: #f5f5f5
}